@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
    --sand-color: #E8DED2;
    --light-blue: #C8E4E8;
    --blue-color: #7FA2B3;
    --transparent-blue: rgba(127, 162, 179, 0.9);
    --red-color: #EC5502;
    --dark-blue: #00334A;
    --primary-font: 'Source Code Pro', monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    color: var(--dark-blue);
}


/*TEXTURE*/
.page_header:after {
    background-image: url(paper-pattern.png);
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.6;
    position: fixed;
    top: -110%;

    width: 300%;
    z-index: -5;
}

/*SHAPES*/
.work,
.homepage_container,
.photoshoot,
.about {
    background-image: url(shapes/shapes-all-01.svg);
    background-repeat: repeat;
}

.contact_body {
    background-image: url(shapes/shapes-all-01.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/*LOGO*/

.logo h1{
    font-size: 3vmin;
    margin-top: 0px;
    margin-bottom: 1vmin;
    color: #E8DED2;
}

.logo{
    white-space: nowrap;
  overflow: hidden;
    text-overflow: clip;
}

.logo_blue{
    color: #7FA2B3;
}

/*MENU*/

input {
    display: none;
}

.open {
    background-color: var(--dark-blue);
    width: 40px;
    height: 4px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 8px;
    z-index: 100;
}

.open:before {
    content: "";
    background-color: var(--dark-blue);
    width: 40px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -8px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.open:after {
    content: "";
    background-color: var(--dark-blue);
    width: 40px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.menu_open {
    width: 40px;
    height: 20px;
    display: block;
    padding: 15px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.menu_open:hover {
    top: -9px;
}

.menu_open:hover {
    top: 5px;
}

.menu {
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--transparent-blue);
}

.menu .menu_content {
    position: relative;
    top: 50%;
    font-size: 54px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -170px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.menu ul li a {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: var(--sand-color);
    transition: color 0.2s;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: 500;
}

.menu_selected {
    text-decoration: line-through;
    text-decoration-color: var(--red-color);
}

.menu_other {
    text-decoration: none;
}

.menu ul li a:hover {
    color: var(--blue-color);
    background: var(--sand-color);
}

.menu_effects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.menu_effects ul {
    transform: translateY(0%);
    transition: all 0.5s;
}

#menu_toggle:checked ~ .menu_effects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

#menu_toggle:checked ~ .menu_effects ul {
    opacity: 1;
}

#menu_toggle:checked ~ .menu_open .open {
    background-color: transparent;
}

#menu_toggle:checked ~ .menu_open .open:before {
    content: "";
    background-color: var(--sand-color);
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#menu_toggle:checked ~ .menu_open .open:after {
    content: "";
    background-color: var(--sand-color);
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
}

#menu_toggle:not(:checked) ~ .menu_effects ul {
    transform: translateY(-30%);
}


/*LOADER*/
#loader_wrapper {
    width: 100%;
    height: 100%;
    background-image: url(paper-pattern.png);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.loader {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
    opacity: 0;
    animation: fadeInLoader 1s,
        fadeOutLoader 1s ease-in 1s;
}

@keyframes fadeOutLoader {
    from {
        opacity: 1;
        z-index: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeInLoader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/*SCROLL ICON*/
path.cls-3 {
    animation: .75s alternate infinite bounce;
}

.scroll_down {
    position: absolute;
    left: 5%;
    margin-left: -20px;
    width: 100px;
    height: 100px;
    bottom: 35px;
    /*padding-left: 7px;*/
    z-index: 2;
    box-sizing: border-box;
}

@keyframes bounce {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(-10px);
    }
}


/*BTT BUTTON*/
#top_Btn {
    background: url(icons/bttb-21.svg) no-repeat;
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 110px;
    height: 110px;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin: 30px 0px;
    transition: .5s;
    /*z-index: 0;*/
    display: none;
    z-index: 99;

}

#top_Btn:hover {
    background: url("icons/bttb-hover-21.svg") no-repeat;
}


/*HOMEPAGE*/
.homepage_container {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.homepage_1column {
    display: flex;
    flex-direction: column;
    margin-top: -100px;
}

.homepage_1column > img {
    width: 300px;
    height: auto;
    margin-top: 50px;
}

.homepage_2column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.homepage_2column > img {
    width: 250px;
    height: auto;
    margin-top: 50px;
}

.homepage_name {
    width: 250px;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 0;
}

.homepage_surname {
    width: 250px;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

.homepage_3column {
    display: flex;
    flex-direction: column;
    margin-top: -150px;
    margin-left: 50px;
}

.homepage_3column > img {
    width: 150px;
    height: auto;
    margin-top: 50px;
}

.homepage_4column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.homepage_4column > img {
    width: 230px;
    height: auto;
    margin-top: 50px;
}

.homepage_5column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: -280px;
}

.homepage_5column > img {
    width: 200px;
    height: auto;
    margin-top: 50px;
}

.homepage_quote1 {
    animation: quoteFading1 6s infinite;
    opacity: 0;
    margin-top: 50px;
    font-size: 50px;
}

.homepage_quote2 {
    animation: quoteFading2 6s infinite;
    opacity: 0;
    margin-top: -50px;
    font-size: 30px;
}

.homepage_quote3{
    animation: quoteFading3 6s infinite;
    opacity: 0;
    margin-top: -35px;
    font-size: 30px;
}

.homepage_quote1,
.homepage_quote2,
.homepage_quote3 {
    text-align: center;
    width: 200px;
    margin-bottom: 0;
}

@keyframes quoteFading1 {
    0% {
        opacity: 0.5;
    }

    14% {
        opacity: 1;
    }

    28% {
        opacity: 1;
    }
    42%{
        opacity: 0;
    }
    84%{
        opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}


@keyframes quoteFading2 {
    0% {
        opacity: 0;
    }
    28% {
        opacity: 0;
    }
    42%{
        opacity: 1;
    }
    56%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
}

@keyframes quoteFading3 {
    0% {
        opacity: 0;
    }
    56%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    84%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.homepage_6column {
    display: flex;
    flex-direction: column;
    margin-top: -200px;
    margin-left: 50px;
}

.homepage_6column > img {
    width: 400px;
    height: auto;
    margin-top: 50px;
}


/*WORK*/
ul#submenu {
    display: flex;
    justify-content: center;
    background-color: var(--transparent-blue);
    margin-top: 50px;
}

ul#submenu li {
    list-style: none;
    padding: 15px 35px 15px 35px;
}

ul#submenu a.menu_other,
ul#submenu a.menu_selected {
    color: white;
    font-weight: 500;
}

ul#submenu a.menu_other:hover {
    text-decoration: line-through;
    text-decoration-color: var(--dark-blue);
}


/*WORK - GALLERY*/
.gallery {
    position: relative;
    cursor: pointer;
}

.gallery_container {
    margin: 0 20vmin;
    column-count: 3;
    column-gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pic_gallery {
    margin-bottom: 50px;
    transition: .2s;
}

.pic_gallery:hover .gallery_text {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 99.25%;
    color: var(--dark-blue);
    transition: .5s;
}

.gallery_text {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    width: 20%;
    height: 99.25%;
    color: var(--dark-blue);
}

p.gal_name {
    margin: 0;
    padding-top: 8px;
    padding-left: 8px;
    writing-mode: vertical-rl;
    font-size: 30px;
}

.gallery img {
    width: 100%;
    height: auto;
}


/*PHOTOSHOOT*/
.back_btn {
    margin-left: 200px;
    margin-top: 50px;
}

.single_photoshoot_sec {
    display: grid;
    grid-template-columns: 1fr .2fr 1fr;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.single_photoshoot_left {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single_photoshoot_left > *,
.single_photoshoot_right > * {
    margin: 20px 0;
}

.single_photoshoot_middle {
    grid-column: 2;
}

.single_photoshoot_right {
    grid-column: 3;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoshoot_title {
    margin: 0;
    padding: 20px;
    margin-left: -80px;
    font-size: 70px;
    writing-mode: vertical-rl;
}

.single_photoshoot_sec img {
    width: 300px;
    cursor: pointer;
    transition: .5s;
}

.single_photoshoot_sec img:hover {
    opacity: 70%;
}

.description {
    padding: 20px;
}

/*MODALS*/
.hide {
    display: none;
}

.modal_background{
    cursor: pointer;
}

.modal_background,
.resume_modal_bg {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.modal_content {
    background-color: transparent;
    padding: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.modal_image {
    max-width: 33%;
    display: block;
    margin: 60px auto;
}

.resume_modal_content {
    background-color: white;
    padding: 30px;
    width: 70%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
}

.education_heading,
.work_heading {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.education_heading {
    grid-column: 1;
    margin: 0;
    align-self: flex-end;
}

.education_info {
    grid-column: 1;
}

.work_heading {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    align-self: flex-end;
}

.work_info {
    grid-column: 2;
}

.resume_when {
    font-weight: bold;
    margin-bottom: 5px;
}
.resume_what{
    margin-top: 0;
}
.resume_link{
    color: var(--dark-blue);
    transition: .5s;
    text-decoration: none;
    font-style: italic;
}
.resume_link:hover{
    color: var(--red-color);
}

.resume_close {
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 40px;
    height: 32px;
    opacity: 0.3;
    transition: .5s
}
.resume_close:hover {
    opacity: 1;
}
.resume_close:before, .resume_close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.resume_close:before {
    transform: rotate(45deg);
}
.resume_close:after {
    transform: rotate(-45deg);
}


/*ABOUT*/
.about_main {
    margin: 0 50px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 300px auto auto;
    column-gap: 20px;
}

.about_text,
.paragraph1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}

.about_heading {
    padding: 0;
    grid-column: 1;
    grid-row: 1;
    align-self: center;

}

.paragraph1 {
    padding: 0;
    margin-top: -120px;
    grid-column: 1;
    grid-row: 2;
}

video,
.about_img1 {
    grid-column: 1 / 3;
}

video {
    width: 60%;
    height: auto;
    grid-row: 3;
    background-color: var(--blue-color);
    padding-left: 30px;
    margin-top: -200px;
    z-index: -1;
}

.about_img1 {
    width: 80%;
    grid-column: 2;
    margin-top: 50px;
    justify-self: center;
    background-color: var(--dark-blue);
    padding-left: 30px;
    z-index: -2;
}

.about_img2 {
    background-color: var(--sand-color);
    padding-left: 30px;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
}

.about_text {
    grid-column: 3;
    grid-row: 2;
}

.resume_heading {
    cursor: pointer;
    letter-spacing: 3px;
    transition: .5s;
}

.resume_heading:hover {
    color: var(--red-color);
}


/*CONTACT*/
.contact_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5vmin;
    text-align: center;
    align-content: center;
}

.contact_main h3 {
    font-size: 3vmin;
}

.contact_main p {
    font-size: 2.5vmin;
}

.contact1 {
    grid-column: 2;
    grid-row: 2/3;
}

.contact2 {
    grid-column: 2;
    grid-row: 3/4;
}

ul.con_icons {
    grid-column: 1 / 4;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0;
}

.contact_img1 {
    grid-column: 1;
    grid-row: 1 / 5;
    height: 35vmax;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: .7;
}

.contact_img2 {
    grid-column: 3;
    grid-row: 2 / 6;
    height: 35vmax;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: .7;
}


/*SOME ICONS*/
.fb,
.in,
.ig {
    position: relative;
    bottom: 25px;
    width: 15vmin;
    height: 15vmin;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: .5s;
    padding-left: 0;
    margin-top: 30px;
}

.fb {
    background: url("icons/fb-11.svg");
    background-repeat: no-repeat;
}

.fb:hover {
    background: url("icons/fb-hover-11.svg");
    background-repeat: no-repeat;
}

.in {
    background: url("icons/in-12.svg");
    background-repeat: no-repeat;
}

.in:hover {
    background: url("icons/in-hover-12.svg");
    background-repeat: no-repeat;
}

.ig {
    background: url("icons/ig-14.svg");
    background-repeat: no-repeat;
}

.ig:hover {
    background: url("icons/ig-hover-14.svg");
    background-repeat: no-repeat;
}

footer ul.fb,
footer ul.in,
footer ul.ig {
    width: 70px;
    height: 70px;
}


/*RESPONSIVE*/
@media only screen and (max-width: 1350px) {
    .about_main {
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    }

    video {
        width: 100%;
        margin-left: 0;
        margin-top: 70px;
        grid-column: 1 / 3;
        grid-row: 5;
        margin-left: auto;
        margin-right: auto;
    }

    .about_img1 {
        grid-column: 1;
        grid-row: 3;
    }

    .about_img2 {
        grid-column: 2;
        grid-row: 1;
    }

    .about_text {
        margin-top: 8vmin;
        grid-column: 2;
        grid-row: 2 / 4;
    }

    .about_heading{
        text-align: center;
    }

    p.gal_name {
        font-size: 3vmin;
    }

    .photoshoot_title {
        margin-left: -70px;
    }
}


@media only screen and (max-width: 800px) {

    #loader_wrapper {
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .loader {
        font-size: 40px;

    }

    .homepage_quote1,
    .homepage_quote2 {
        display: none;
    }

    .about_main {
        margin: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .paragraph1 {
        margin-top: 8vmin;
        grid-row: 3;
    }

    video {
        padding: 0;
        width: 100%;
        margin-left: 0;
        grid-column: 1;
        grid-row: 4;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8vmin;
    }

    .about_img1 {
        margin-top: 5vmin;
        grid-column: 1;
        grid-row: 2;
    }

    .about_img2 {
        grid-column: 1;
        grid-row: 6;
    }

    .about_text {
        margin-top: 50px;
        grid-column: 1;
        grid-row: 5;
    }

    .resume_modal_content {
        grid-template-columns: 1fr;
    }

    .education_heading {
        grid-column: 1;
        grid-row: 1;
        align-self: flex-end;
    }

    .education_info {
        grid-column: 1;
        grid-row: 2;
        margin-top: 0;
    }

    .work_heading {
        grid-column: 1;
        grid-row: 3;
        margin: 0;
        align-self: flex-end;
    }

    .work_info {
        grid-column: 1;
        grid-row: 4;
        margin-top: 0;
    }

    .gallery_container {
        column-count: 2;
        margin: 0 10vmin;
    }

    p.gal_name {
        font-size: 3vmin;
    }

    .back_btn {
        margin-left: 20px;
    }

    .single_photoshoot_sec {
        grid-template-columns: 1fr;
    }

    .single_photoshoot_left {
        grid-column: 1;
        grid-row: 2;
    }

    .single_photoshoot_middle {
        grid-column: 1;
        grid-row: 1;
    }

    .single_photoshoot_right {
        grid-column: 1;
        margin-top: 0;
        grid-row: 3;
    }

    .photoshoot_title {
        margin: 0;
        padding: 0;
        font-size: 50px;
        writing-mode: horizontal-tb;
        text-align: center;
    }

     .contact_main {
        grid-template-columns: 1fr;
    }

    .contact_main h3 {
        font-size: 20px;
        grid-column: 1;
        grid-row: 2;
    }

    .contact_main p {
        font-size: 16px;
    }

    .contact1 {
        grid-column: 1;
        grid-row: 1;
    }

    .contact2 {
        grid-column: 1;
        grid-row: 3;
    }

    ul.con_icons {
        grid-column: 1;
        grid-row: 4;
    }

    .contact_img1,
    .contact_img2 {
        display: none;
    }
}


@media only screen and (max-width: 600px) {

    .gallery_container {
        column-count: 1;
    }

    p.gal_name {
        font-size: 6vmin;
    }

    .contact_img2,
    .contact_img1 {
        display: none;
    }

    .contact1 {
        margin-top: 15vmin;
    }

    ul#submenu {
        display: block;
        padding: 5px 0;
    }

    ul#submenu li {
        text-align: center;
        padding: 10px;
    }

    #top_Btn {
        right: 5px;
        height: 90px;
        width: 90px;
    }

    .scroll_down {
        left: 1%;
        width: 80px;
        height: 80px;
    }

    img.modal_image {
        max-width: 90%;
    }
}
