@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
    --sand-color: #E8DED2;
    --light-blue: #C8E4E8;
    --blue-color: #7FA2B3;
    --transparent-blue: rgba(127, 162, 179, 0.9);
    --red-color: #EC5502;
    /*--cream-color: #FFF5E8;*/
    --dark-blue: #00334A;
    --primary-font: 'Source Code Pro', monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    color: var(--dark-blue);
}

/*TEXTURE*/
.page_header:after {
    background-image: url(paper-pattern.png);
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.6;
    position: fixed;
    top: -110%;
    width: 300%;
    z-index: -5;
}

/*MENU*/
nav {
    z-index: 100;
}

input {
    display: none;
}

.open {
    background-color: var(--dark-blue);
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 8px;
}

.open:before {
    content: "";
    background-color: var(--dark-blue);
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -8px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.open:after {
    content: "";
    background-color: var(--dark-blue);
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.menu_open {
    width: 24px;
    height: 20px;
    display: block;
    padding: 15px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.menu_open:hover {
    top: -9px;
}

.menu_open:hover {
    top: 5px;
}

.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--transparent-blue);
}

.menu .menu_content {
    position: relative;
    top: 50%;
    font-size: 54px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -170px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.menu ul li a {
    display: block;
    color: var(--sand-color);
    transition: color 0.2s;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: 500;
}

.menu_selected {
    text-decoration: line-through;
    text-decoration-color: var(--red-color);
}

.menu_other {
    text-decoration: none;
}

.menu ul li a:hover {
    color: var(--blue-color);
}

.menu ul li:hover {
    background: var(--sand-color);
}

.menu_effects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.menu_effects ul {
    transform: translateY(0%);
    transition: all 0.5s;
}

#menu_toggle:checked ~ .menu_effects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

#menu_toggle:checked ~ .menu_effects ul {
    opacity: 1;
}

#menu_toggle:checked ~ .menu_open .open {
    background-color: transparent;
}

#menu_toggle:checked ~ .menu_open .open:before {
    content: "";
    background-color: var(--sand-color);
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#menu_toggle:checked ~ .menu_open .open:after {
    content: "";
    background-color: var(--sand-color);
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
}

#menu_toggle:not(:checked) ~ .menu_effects ul {
    transform: translateY(-30%);
}

/*LOADER*/
#loader_wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    color: var(--sand-color);
    font-weight: 900;
    font-size: 50px;
}

/*SCROLL*/
path.cls-3 {
    animation: .75s alternate infinite bounce;
}

svg {
    max-width: 7%;
}

@keyframes bounce {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(-10px);
    }
}

/*BTT BUTTON*/
#topBtn {
    background: url(icons/bttb-21.svg) no-repeat;
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 110px;
    height: 110px;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin: 30px 0px;
    transition: .5s;
    /*z-index: 0;*/
    display: none;
    z-index: 99;

}

#topBtn:hover {
    background: url("icons/bttb-hover-21.svg") no-repeat;
}

/*HOMEPAGE*/
.homepage_container {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.homepage_1column {
    display: flex;
    flex-direction: column;
    margin-top: -100px;
}

.homepage_1column > img {
    width: 300px;
    height: auto;
    margin-top: 50px;
}

.homepage_2column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.homepage_2column > img {
    width: 250px;
    height: auto;
    margin-top: 50px;
}

.homepage_2column > .homepage_quote {
    text-align: center;
    width: 250px;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 0;
    animation: quoteFading1 5s infinite;
    animation-delay: 2s;
}

@keyframes quoteFading1 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.homepage_3column {
    display: flex;
    flex-direction: column;
    margin-top: -150px;
    margin-left: 50px;
}

.homepage_3column > img {
    width: 150px;
    height: auto;
    margin-top: 50px;
}

.homepage_4column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.homepage_4column > img {
    width: 230px;
    height: auto;
    margin-top: 50px;
}

.homepage_5column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: -280px;
}

.homepage_5column > img {
    width: 200px;
    height: auto;
    margin-top: 50px;
}

.homepage_5column > .homepage_quote {
    text-align: center;
    width: 200px;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 0;
    animation: quoteFading2 5s infinite;
    animation-delay: 5s;
}

@keyframes quoteFading2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.homepage_6column {
    display: flex;
    flex-direction: column;
    margin-top: -200px;
    margin-left: 50px;
}

.homepage_6column > img {
    width: 400px;
    height: auto;
    margin-top: 50px;
}

/*WORK*/
section ul {
    display: flex;
    justify-content: center;
}

section li {
    list-style: none;
    padding-right: 50px;
}

section a.menu_other,
section a.menu_selected {
    color: var(--dark-blue);
}

section a.menu_other:hover {
    text-decoration: line-through;
    text-decoration-color: var(--blue-color);
}

/*WORK - GALLERY*/
.gallery {
    position: relative;
    cursor: pointer;
    /*z-index: -1;*/

}

.gallery-container {
    margin: 0 200px;
    column-count: 3;
    column-gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pic-gallery {
    margin-bottom: 50px;
    transition: .2s;
}

.pic-gallery:hover {
    opacity: 0.5;
}

.gallery-text {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    width: 35px;
    height: 99.25%;
    color: var(--dark-blue);
}

p.gal-name {
    margin: 0;
    writing-mode: vertical-rl;
    font-size: 30px;
}

.gallery img {
    width: 100%;
    height: auto;
}

/*ABOUT*/
.about_main {
    margin: 0 50px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 200px 150px auto;
    column-gap: 20px;
}

.about_text,
.about_intro {
    font-size: 18px;
    font-weight: 600;
}

.about_heading {
    padding: 0;
    margin: 0;
    grid-column: 1;
    grid-row: 1;
    align-self: flex-end;

}

.about_intro {
    padding: 0;
    margin: 0;
    grid-column: 1;
    grid-row: 2;
}

video,
.about_img1 {
    grid-column: 1 / 3;
}

video {
    width: 60%;
    height: auto;
    grid-row: 3;
    background-color: var(--blue-color);
    padding-left: 30px;
    margin-left: 100px;
    margin-top: 70px;
    z-index: -1;
}

.about_img1 {
    width: 80%;
    grid-column: 2;
    margin-top: 50px;
    justify-self: center;
    background-color: var(--dark-blue);
    padding-left: 30px;
    z-index: -2;
}

.about_img2 {
    background-color: var(--sand-color);
    padding-left: 30px;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
}

.about_text {
    grid-column: 3;
    grid-row: 2;
    margin-top: 100px;
}

/*CONTACT*/
.contact_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.contact_main > p {
    grid-column: 2;
}

.contact_main > h3 {
    grid-column: 2;
}

ul.con-icons {
    grid-column: 2;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.contact_img2 {
    grid-column: 3;
    grid-row: 1 / 5;
    opacity: .5;
}

/*SOME ICONS*/
.fb,
.in,
.ig {
    position: relative;
    bottom: 25px;
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: .5s;
    padding-left: 0;
    margin-top: 30px;
}

.fb {
    background: url("icons/fb-11.svg");
    background-repeat: no-repeat;
}

.fb:hover {
    background: url("icons/fb-hover-11.svg");
    background-repeat: no-repeat;
}

.in {
    background: url("icons/in-12.svg");
    background-repeat: no-repeat;
}

.in:hover {
    background: url("icons/in-hover-12.svg");
    background-repeat: no-repeat;
}

.ig {
    background: url("icons/ig-14.svg");
    background-repeat: no-repeat;
}

.ig:hover {
    background: url("icons/ig-hover-14.svg");
    background-repeat: no-repeat;
}

footer ul.fb,
footer ul.in,
footer ul.ig {
    width: 70px;
    height: 70px;
}

/*RESPONSIVE*/
@media only screen and (max-width: 1350px) {
    .about_main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    video {
        width: 100%;
        margin-left: 0;
        grid-column: 1 / 3;
        grid-row: 5;
        margin-left: auto;
        margin-right: auto;
    }

    .about_img1 {
        grid-column: 1;
        grid-row: 3;
    }

    .about_img2 {
        grid-column: 2;
        grid-row: 1;
    }

    .about_text {
        margin-top: 50px;
        grid-column: 2;
        grid-row: 2 / 4;
    }

}

@media only screen and (max-width: 800px) {
    .about_main {
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    video {
        padding: 0;
        width: 100%;
        margin-left: 0;
        grid-column: 1;
        grid-row: 4;
        margin-left: auto;
        margin-right: auto;
    }

    .about_img1 {
        grid-column: 1;
        grid-row: 3;
    }

    .about_img2 {
        grid-column: 1;
        grid-row: 6;
    }

    .about_text {
        margin-top: 50px;
        grid-column: 1;
        grid-row: 5;
    }

    .gallery-container {
        column-count: 2;
    }
}

@media only screen and (max-width: 600px) {
    .gallery-container {
        column-count: 1;
    }
}
